.navbar{
  background-color: #ffba08;
}

.container-fluid form{
  border-radius: 55px;
}

.input-group input::placeholder{
  color: rgba(208, 0, 0, 0.48);
  font-style: italic;
}

.input-group form button a{
  color: #D00000;
  text-decoration: none;
}