@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; 
  padding:0;
}

.container{
  min-height: 100vh;
}

.kotak{
  position: absolute;
}

.header{
  width: 1365px;
  height: 90px;
  background: #E85D04;
}

.header img{
  width: 110px;
  height: 70px;
  margin-top: 10px;
}

.header h2{
  float: right;
  color: #FFF;
  font-size: 20px;
  font-family: Ubuntu;
  margin-top: 30px;
  margin-right: 100px;
}

.menu_bar{
  width: 250px;
  height: 558px;
  background: #FFBA08;
}

.menu_bar img{
  width: 50px;
  height: 54px;
  margin-left: 20px;
  margin-top: 30px;
}

.menu_bar .nama_admin{
  color: #F5F5F5;
  font-size: 20px;
  font-family: Ubuntu;
  width: 150px;
  margin-left: 85px;
}

.menu_bar h1{
  font-size: 23px;
  margin-left: 87px;
  margin-top: -60px;
  font-family: Ubuntu;
}

.menu_bar h2{
  font-size: 20px;
  margin-top: 40px;
  margin-left: 90px;
  font-family: Ubuntu;
}

.menubar1{
  width: 250px;
  height: 70px;
  margin-top: 20px;
  background: #F48C06;
}

.menubar1 h3 a{
  color: #FFF;
  font-size: 22px;
  font-family: Ubuntu;
  position: absolute;
  margin-top: 20px;
  margin-left: 65px;
  cursor: pointer;
  text-decoration: none;
}

.menubar1 img{
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 10px;
  margin-left: 13px;
}

.menubar2{
  width: 250px;
  height: 70px;
  margin-top: 20px;
  background: #D00000;
}

.menubar2 h3 a{
  color: #FFF;
  font-size: 22px;
  font-family: Ubuntu;
  position: absolute;
  margin-top: 20px;
  margin-left: 65px;
  cursor: pointer;
  text-decoration: none;
}

.menubar2 img{
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 10px;
  margin-left: 13px;
}

.menubar3{
  width: 250px;
  height: 70px;
  margin-top: 20px;
  background: #F48C06;
}

.menubar3 h3 a{
  color: #FFF;
  font-size: 22px;
  font-family: Ubuntu;
  position: absolute;
  margin-top: 20px;
  margin-left: 65px;
  cursor: pointer;
  text-decoration: none;
}

.menubar3 img{
  width: 40px;
  height: 40px;
  position: absolute;
  margin-top: 10px;
  margin-left: 13px;
}

.kotak_logout{
  position: absolute;
  width: 170px;
  height: 40px;
  margin-left: 1150px;
  margin-top: 580px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: blur(2px);
}

.logout img{
  position: absolute;
  margin-left: 1170px;
  margin-top: 580px;
}

.logout a{
  position: absolute;
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-family: Ubuntu;
  margin-left: 1210px;
  margin-top: 580px;
}